body {
    font: normal 15pt Arial;
    background-color: rgb(0, 0, 0);
}

header {
    color: whitesmoke;
    text-align: center;
}

section {
    background: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);

}

img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}


footer {
    color: whitesmoke;
    text-align: center;
    font-style: italic;
}